.button_type_save {
  margin-top: 48px;
  min-width: 358px;
  min-height: 50px;
  border: none;
  border-radius: 2px;
  transition: opacity 0.3s linear;
}

.button_type_save:hover {
  opacity: 0.8;
}


@media screen and (max-width: 600px) {

  .button_type_save {
    min-width: 238px;
    min-height: 46px;
  }

}
