.footer {
  margin: auto;
  width: 68.75%;
}

@media screen and (max-width: 760px) {

  .footer {
    width: 88.125%;
  }
}

@media screen and (max-width: 420px) {

  .footer {
    width: 100%;
  }
}
